
.slider {
  position: relative;
  width: 100vw;
  height: 75vh;
  margin: auto;
  top: 0;
  .slide {
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .slide-one {
    background-image: url("./../assets/Layer 5.jpg");
  }
  .slide-two {
    background-image: url("./../assets/Warstwa 1.jpg");
  }
  .slide-three {
    background-image: url("./../assets/Warstwa 2.jpg");
  }
  .active {
    display: block;
  }

}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  width: 5%;
  height: 10%;
  outline: none;
  background: transparent;
  border: none;
  transition: all .3s ease;
  color: #ffffff;
  &:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #000000;
  }
}

.next {
  right: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}